@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap'); /* HEADER */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); /* BODY */


@layer base {
    .scrollbar-thin::-webkit-scrollbar {
        height: 6px;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb {
        background-color: #4b5563; /* Tailwind's gray-700 */
        border-radius: 9999px;
    }
}



