@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap'); /* HEADER */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); /* BODY */


head {
  font-family: 'DM Serif Display';
}

body {
  margin: 0;
  font-family: 'Manrope';
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

.centrera {
  display: flex;
  justify-content: center;
}

.form {
  padding: 10px;
  border-radius: 3%;
}

.pad {
  padding: 20px;
  margin: 10px;
}

th, td {
  padding-left: 25px;
  color: black;
}

.pricehistory {
  width: 900px;
  height: 500px;
  margin-bottom: 25px;
}

#stocksearch {
  padding: 8px;
}

#stocksearchbutton {
  padding: 8px;
}

